In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
data = pd.read_csv("E:/UCLA/Bruin Sports Analytics/Tennis/UCLA_Spencer_Johnson_vs_TexasA&M_Tiago_Pires_1-17.csv")
data

,pointScore,gameScore,setScore,pointStartTime,pointEndTime,shotInRally,serverName,firstServeIn,firstServeZone,firstServeXCoord,...,clientTeam,Date,Division,Event,lineupPosition,opponentTeam,player1Name,player2Name,Surface,Notes
0,0-0,0-0,0-0,56000.0,NaN,1,Spencer Johnson,1.0,Body,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Spencer Johnson,Tiago Pires,NaN,NaN
1,0-0,0-0,0-0,NaN,NaN,2,Spencer Johnson,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Spencer Johnson,Tiago Pires,NaN,NaN
2,0-0,0-0,0-0,NaN,62000.0,3,Spencer Johnson,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Spencer Johnson,Tiago Pires,NaN,NaN
3,15-0,0-0,0-0,82000.0,NaN,1,Spencer Johnson,1.0,Body,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Spencer Johnson,Tiago Pires,NaN,NaN
4,15-0,0-0,0-0,NaN,NaN,2,Spencer Johnson,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Spencer Johnson,Tiago Pires,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,40-30,3-5,0-1,NaN,NaN,3,Spencer Johnson,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Spencer Johnson,Tiago Pires,NaN,NaN
541,40-30,3-5,0-1,NaN,NaN,4,Spencer Johnson,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Spencer Johnson,Tiago Pires,NaN,NaN
542,40-30,3-5,0-1,NaN,6152511.0,5,Spencer Johnson,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Spencer Johnson,Tiago Pires,NaN,NaN
543,40-40 (Ad),3-5,0-1,6176867.0,NaN,1,Spencer Johnson,0.0,T,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Spencer Johnson,Tiago Pires,NaN,NaN
544,40-40 (Ad),3-5,0-1,NaN,6218684.0,2,Spencer Johnson,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Spencer Johnson,Tiago Pires,NaN,NaN

In [3]:
def is_odd(n):
  return n % 2 == 1

In [4]:
volleys = pd.DataFrame(data.loc[(data["isVolley"] == 1) & (data["serverName"] == "Spencer Johnson") & (data["shotInRally"].apply(is_odd))])
num_volleys = len(volleys)

In [5]:
approach = pd.DataFrame(data.loc[(data["isApproach"] == 1) & (data["serverName"] == "Spencer Johnson") & (data["shotInRally"].apply(is_odd))])
num_approach = len(approach)

In [6]:
table_fields = ["Field Name", "Statistic"]
table = pd.DataFrame(columns = table_fields)
table

Empty DataFrame
Columns: [Field Name, Statistic]
Index: []

In [7]:
winner_volleys = pd.DataFrame(data.loc[(data["isVolley"] == 1) & (data["serverName"] == "Spencer Johnson") & (data["isWinner"] == 1) & (data["shotInRally"].apply(is_odd))])
num_winner_volleys = len(winner_volleys)

In [8]:
winner_approach = pd.DataFrame(data.loc[(data["isApproach"] == 1) & (data["serverName"] == "Spencer Johnson") & (data["isWinner"] == 1) & (data["shotInRally"].apply(is_odd))])
num_winner_approach = len(winner_approach)

In [9]:
data1 = ["Number of volleys played", num_volleys]
data2 = ["Number of approach shots played", num_approach]
data3 = ["Volleys as a % of total shots", round((num_volleys/len(data))*100, 3)]
data4 = ["Approach shots as a % of total shots", round((num_approach/len(data))*100, 3)]
data5 = ["Volleys that were winners (%)", round((num_winner_volleys/num_volleys)*100, 3)]
data6 = ["Approach shots that were winners (%)", round((num_winner_approach/num_approach)*100, 3)]

table.loc[len(table)] = data1
table.loc[len(table)] = data2
table.loc[len(table)] = data3
table.loc[len(table)] = data4
table.loc[len(table)] = data5
table.loc[len(table)] = data6

In [10]:
table = table.loc[:5]
table

                             Field Name  Statistic
0              Number of volleys played     26.000
1       Number of approach shots played      5.000
2         Volleys as a % of total shots      4.771
3  Approach shots as a % of total shots      0.917
4         Volleys that were winners (%)     11.538
5  Approach shots that were winners (%)      0.000

In [85]:
table.to_csv('Spencer_table.csv', index=False)