In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
data = pd.read_excel("E:/UCLA/Bruin Sports Analytics/Tennis/Govind Nanda (UCLA) Raphael Perot (Texas A&M) Full Match.xlsx")
data

,pointScore,gameScore,setScore,isPointStart,PointStartTime,isPointEnd,PointEndTime,shotInRally,serverName,firstServeIn,...,Division,Event,lineupPosition,matchDetails,opponentTeam,player1Name,player2Name,Round,Surface,Notes
0,0-0,0-0,0-0,1.0,20671.0,NaN,30153.0,1.0,Raphael Perot,1.0,...,NaN,NaN,NaN,NaN,NaN,Govind Nanda,Raphael Perot,NaN,NaN,NaN
1,0-0,0-0,0-0,NaN,NaN,NaN,NaN,2.0,Raphael Perot,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0-0,0-0,0-0,NaN,NaN,NaN,NaN,3.0,Raphael Perot,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0-0,0-0,0-0,NaN,NaN,NaN,NaN,4.0,Raphael Perot,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0-0,0-0,0-0,NaN,NaN,1.0,NaN,5.0,Raphael Perot,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
697,0-40,2024-05-03 00:00:00,1-0,NaN,NaN,NaN,NaN,15.0,Raphael Perot,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
698,0-40,2024-05-03 00:00:00,1-0,NaN,NaN,1.0,6470168.0,16.0,Raphael Perot,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
699,15-40,2024-05-03 00:00:00,1-0,1.0,6497093.0,NaN,NaN,1.0,Raphael Perot,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
700,15-40,2024-05-03 00:00:00,1-0,NaN,NaN,NaN,NaN,2.0,Raphael Perot,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
701,15-40,2024-05-03 00:00:00,1-0,NaN,NaN,1.0,6505022.0,3.0,Raphael Perot,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
def is_odd(n):
  return n % 2 == 1

In [5]:
winners = pd.DataFrame(data.loc[(data["isWinner"] == 1) & (data["serverName"] == "Govind Nanda") & (data["shotInRally"].apply(is_odd))])
winners

,pointScore,gameScore,setScore,isPointStart,PointStartTime,isPointEnd,PointEndTime,shotInRally,serverName,firstServeIn,...,Division,Event,lineupPosition,matchDetails,opponentTeam,player1Name,player2Name,Round,Surface,Notes
53,15-15,1-0,0-0,NaN,NaN,1.0,NaN,17.0,Govind Nanda,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,30-30,1-0,0-0,1.0,447690.0,1.0,453760.0,1.0,Govind Nanda,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,15-0,2024-02-01 00:00:00,0-0,NaN,NaN,1.0,988637.0,5.0,Govind Nanda,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130,30-0,2024-02-01 00:00:00,0-0,NaN,NaN,1.0,1015770.0,5.0,Govind Nanda,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,0-15,2024-03-02 00:00:00,0-0,1.0,1318506.0,1.0,1322298.0,1.0,Govind Nanda,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
273,15-15,2024-04-03 00:00:00,0-0,NaN,NaN,1.0,2672716.0,17.0,Govind Nanda,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
350,0-30,2024-05-04 00:00:00,0-0,NaN,NaN,1.0,3264091.0,5.0,Govind Nanda,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
410,0-0,2024-06-05 00:00:00,0-0,NaN,NaN,1.0,3830518.0,11.0,Govind Nanda,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
427,40-30,2024-06-05 00:00:00,0-0,NaN,NaN,1.0,4012397.0,5.0,Govind Nanda,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
466,0-0,0-1,1-0,NaN,NaN,1.0,4539621.0,17.0,Govind Nanda,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
477,30-0,0-1,1-0,NaN,NaN,1.0,4627667.0,5.0,Govind Nanda,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
482,40-0,0-1,1-0,NaN,NaN,1.0,4650210.0,5.0,Govind Nanda,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
521,0-0,2024-02-01 00:00:00,1-0,NaN,NaN,1.0,4993653.0,5.0,Govind Nanda,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
538,15-30,2024-02-01 00:00:00,1-0,NaN,NaN,1.0,5121482.0,7.0,Govind Nanda,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
winner_percent = (len(winners)/len(data))*100
print(winner_percent)

1.9943019943019942

In [7]:
winner_fh = winners.loc[winners["shotType"] == "Forehand"]
winner_fh

,pointScore,gameScore,setScore,isPointStart,PointStartTime,isPointEnd,PointEndTime,shotInRally,serverName,firstServeIn,...,Division,Event,lineupPosition,matchDetails,opponentTeam,player1Name,player2Name,Round,Surface,Notes
53,15-15,1-0,0-0,NaN,NaN,1.0,NaN,17.0,Govind Nanda,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
273,15-15,2024-04-03 00:00:00,0-0,NaN,NaN,1.0,2672716.0,17.0,Govind Nanda,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
350,0-30,2024-05-04 00:00:00,0-0,NaN,NaN,1.0,3264091.0,5.0,Govind Nanda,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
410,0-0,2024-06-05 00:00:00,0-0,NaN,NaN,1.0,3830518.0,11.0,Govind Nanda,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
427,40-30,2024-06-05 00:00:00,0-0,NaN,NaN,1.0,4012397.0,5.0,Govind Nanda,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
466,0-0,0-1,1-0,NaN,NaN,1.0,4539621.0,17.0,Govind Nanda,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
477,30-0,0-1,1-0,NaN,NaN,1.0,4627667.0,5.0,Govind Nanda,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
482,40-0,0-1,1-0,NaN,NaN,1.0,4650210.0,5.0,Govind Nanda,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
538,15-30,2024-02-01 00:00:00,1-0,NaN,NaN,1.0,5121482.0,7.0,Govind Nanda,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
winner_bh = winners.loc[winners["shotType"] == "Backhand"]
winner_bh

,pointScore,gameScore,setScore,isPointStart,PointStartTime,isPointEnd,PointEndTime,shotInRally,serverName,firstServeIn,...,Division,Event,lineupPosition,matchDetails,opponentTeam,player1Name,player2Name,Round,Surface,Notes
125,15-0,2024-02-01 00:00:00,0-0,NaN,NaN,1.0,988637.0,5.0,Govind Nanda,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130,30-0,2024-02-01 00:00:00,0-0,NaN,NaN,1.0,1015770.0,5.0,Govind Nanda,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
521,0-0,2024-02-01 00:00:00,1-0,NaN,NaN,1.0,4993653.0,5.0,Govind Nanda,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
winner_fh_pct = (len(winner_fh)/len(winners))*100
print(winner_fh_pct)

64.28571428571429

In [10]:
winner_bh_pct = (len(winner_bh)/len(winners))*100
print(winner_bh_pct)

21.428571428571427

In [11]:
colours = ['#2D68C4', '#F2AA00']

In [12]:
winner_percent_list = [winner_percent]
plot_data_winner = pd.DataFrame({
    'Category': ['Winners'],
    'Percentage': [winner_percent]
})
plot_data = pd.DataFrame({
    'Shot Type': ['Forehand', 'Backhand'],
    'Percentage': [winner_fh_pct, winner_bh_pct]
})

In [13]:
plot_data_winner

  Category  Percentage
0  Winners    1.994302

In [14]:
plot_data

  Shot Type  Percentage
0  Forehand   64.285714
1  Backhand   21.428571